parameters:
	ignoreErrors:
		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainDefinitionLocationProvider\\:\\:__construct\\(\\) has parameter \\$providers with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/ChainDefinitionLocationProvider.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainDefinitionLocationProvider\\:\\:add\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/ChainDefinitionLocationProvider.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainImplementationFinder\\:\\:__construct\\(\\) has parameter \\$finders with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/ChainImplementationFinder.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainImplementationFinder\\:\\:add\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/ChainImplementationFinder.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainReferenceFinder\\:\\:__construct\\(\\) has parameter \\$finders with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/ChainReferenceFinder.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainReferenceFinder\\:\\:add\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/ChainReferenceFinder.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainTypeLocator\\:\\:__construct\\(\\) has parameter \\$locators with no value type specified in iterable type array\\.$#"
			count: 1
			path: lib/ChainTypeLocator.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\ChainTypeLocator\\:\\:add\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/ChainTypeLocator.php

		-
			message: "#^Method Phpactor\\\\ReferenceFinder\\\\Search\\\\NameSearchResult\\:\\:create\\(\\) has parameter \\$type with no typehint specified\\.$#"
			count: 1
			path: lib/Search/NameSearchResult.php

		-
			message: "#^Parameter \\#2 \\$name of class Phpactor\\\\ReferenceFinder\\\\Search\\\\NameSearchResult constructor expects Phpactor\\\\Name\\\\FullyQualifiedName, Phpactor\\\\Name\\\\FullyQualifiedName\\|Phpactor\\\\ReferenceFinder\\\\Search\\\\NameSearchResultType given\\.$#"
			count: 1
			path: lib/Search/NameSearchResult.php

